pipeline/sales_pipeline.json
{
	"name": "sales_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS count FROM [SalesSchema].[SalesTable] WHERE Status = 'Completed'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADS_salesdata_sink",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesSchema",
							"table": "SalesTable"
						}
					}
				}
			},
			{
				"name": "condition checking",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Lookup1').output.firstRow.count), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM  [SalesSchema].[SalesTable] WHERE status = 'Canceled'\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADS_salesdata_sink",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesSchema",
										"table": "SalesTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADS_FailedStatus",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesSchema",
										"table": "FailedOrdersTable"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "copy completed orders source",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM  [SalesSchema].[SalesTable] WHERE status = 'Completed'\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADS_salesdata_sink",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesSchema",
										"table": "SalesTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADS_FilteredStatus",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesSchema",
										"table": "CompletedOrders"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}